name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

jobs:
  pr-validator:
    name: Run Pull Request Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check linting and formatting
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.0
      - run: dotnet tool restore
      - run: dotnet csharpier check .

  sonarcloud-scan:
    name: CDP SonarCloud Scan
    uses: ./.github/workflows/sonarcloud.yml
    needs: pr-validator
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
